<h2>Find a player by name</h2>

<form action="/query/results">
  
  <input type="number" name="idmaybe">
  <input type="submit" name="rank_submit">
  
  <br>
  <br>
  
  <h2>Find a player by name</h2>
  
  <input type="text" name="name_sel">
  <input type="submit" name="name_submit">

</form>

<% if @messageyo != nil %>
  <h1><%= @messageyo %> </h1>
<% end %>