<div class="inner cover hello">
    
            <h1 class="cover-heading">GolfPro.</h1>
            <p class="lead">Your passion is ours. Feel free to naviguate our website!</p>
            </p>
          </div>