@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.wrapper {
        display: flex;
}

#sidebar {
        min-width: 250px;
        max-width: 250px;
        height: 100vh;
        background-color: #4286f4;
        color: #4286f4;
}

#logo {
  color: black;
}

.brand {
  position: absolute;
  display: block;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}