<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li> <%= link_to "2018 Rankings", "golfers#index" %> </li>
    <li> <%= link_to "2017 Rankings", "ranking2017s#index" %> </li>
    <li> <%= link_to "2016 Rankings", "ranking2016s#index" %> </li>
    <li> <%= link_to "Queries", "query/run" %> </li>
    
  </ul>
</div>